html {
    background-color: #000000;
}

body {
    background-color: #000000;
}

#event1 {
    background-color: #000000;
}

#event2 {
    background-color: #000000;
}

#event3 {
    background-color: #000000;
}

section {
    background-color: #000000;
    color: azure;
}

p {
    background-color: #000000;
    color: azure;
}